<nav class="navbar" role="navigation">
    <div class="container">

      <ul class="nav navbar-nav pull-left site-title">
        <li><a href="/"><img src="/img/datebagged.png" alt=""/></a></li>
      </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse links"
          id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
            </ul>
        </div>
    </div>
</nav>
