.site-title li a img {
  height: 160px;
  width: auto;
  margin-left: -180px;
}


@media (max-width: 1310px) {
  .site-title li a img {
    margin-left: 0;
  }
}

.bg-home {
  background: url(/img/DateBagged-BG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-break {
  padding: 120px 0;
}

.video {
  padding: 60px 0px;
}

.footer {
  background-color: #f2f2f2;
}

.navbar {
  background: #F2F2F2;
  margin-bottom: 0px !important;
}

.footer a {
  text-decoration: none;
  color: red;
}
.footer a:hover {
  text-decoration: none;
  color: #000;
}

.footer a:active {
  text-decoration: none;
  color: #000;
}

.footer h1 {
  padding: 60px;
  font-family: impact;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
